body {
    scroll-behavior: smooth;
}
#scrollable {
    padding-inline: 50px;
}

main {
    border-bottom: 1px solid gray;
}

#scrollable img {
    width: 24px;
    height: 24px;
}

.scrollable-img {
    margin: 12px 0px 10px;
    padding: 4px 0px;
    cursor: pointer;
    color: #6A6A6A;
    font-weight: 500;
    border-bottom: 2px solid transparent;
}

.scrollable-img:hover {
    color: black;
    border-bottom: 2px solid #6A6A6A;
    transition-duration: 0.5s;
}

#cardSection {
    min-height: 100vh;
    margin-bottom: 80px;
}

.anunncio {
    text-decoration: none;
    color: inherit;
}

.annuncio:hover {
    transition: all 0.5s;
}

span {
    font-size: 12px;
    min-width: max-content;
}

.card-image {
    aspect-ratio: 20/19;
}

.carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

#carouselCard1 button,
#carouselCard2 button,
#carouselCard3 button,
#carouselCard4 button,
#carouselCard5 button,
#carouselCard6 button,
#carouselCard7 button,
#carouselCard8 button,
#carouselCard9 button,
#carouselCard10 button,
#carouselCard11 button,
#carouselCard12 button {
    visibility: hidden;
}

.anunncio:hover #carouselCard1 button,
.anunncio:hover #carouselCard2 button,
.anunncio:hover #carouselCard3 button,
.anunncio:hover #carouselCard4 button,
.anunncio:hover #carouselCard5 button,
.anunncio:hover #carouselCard6 button,
.anunncio:hover #carouselCard7 button,
.anunncio:hover #carouselCard8 button,
.anunncio:hover #carouselCard9 button,
.anunncio:hover #carouselCard10 button,
.anunncio:hover #carouselCard11 button,
.anunncio:hover #carouselCard12 button {
    visibility: visible;
    transition-duration: 0.5s;
}

.buttonGroup {
    position: relative;
    top: 35px;
    z-index: 10;
    margin-inline: 15px;
}

.sharePrefer {
    gap: 10px;
}

.share {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardText > p {
    color: #6A6A6A;
}

.carousel-control-next, .carousel-control-prev {
    top: 50%;
    bottom: 50%;
}

.next-icon, .prev-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.next-icon svg, .prev-icon svg {
    padding: 3px 3px;
}

.share:hover {
    opacity: 1;
    cursor: pointer;
    box-shadow: darkgray;
}

.share {
    opacity: 0.8;
    transition: opacity 0.5s;
}

.heart:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.heart {
    transition: transform 0.5s;
}

p {
    margin-bottom: 0;
}
/*Ispirazione per viaggi futuri*/
#tableSection section {
    padding: 48px 60px;
    background-color: #F7F7F7;
}

.black {
    color: black;
}

#tableSection * a {

    color: black;
    text-decoration: none;
}

#tableSection * p {
    color: gray;
}

#tableSection ul {
    border-bottom: 1px solid gray;
}

#tableSection li {
    cursor: pointer;
    padding: 10px;
    list-style: none;
    color: gray;
}

#tableSection li.selected {
    border-bottom-color: black;
    color: black;
    position: relative;

}

#tableSection li.selected:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 2px solid black;

}

.swiper {
    margin-left: 0;

}

.swiper-slide {
    width: auto !important;
}

#tableSection .nav-link {
    color: gray;
}

#tableSection .nav-tabs {
    --bs-nav-tabs-border-width: 0;
    --bs-nav-tabs-border-color: none;
    --bs-nav-tabs-border-radius: 0;
    --bs-nav-tabs-link-hover-border-color: none;
    --bs-nav-tabs-link-active-color: none;
    --bs-nav-tabs-link-active-bg: none;
    --bs-nav-tabs-link-active-border-color: none;
    border-bottom: 1px solid gray;
}

#tableSection .nav {
    --bs-nav-link-hover-color: none;
}
/*footer*/
.footer {
    background-color: #F7F7F7;
}

.footer li:hover{
    cursor: pointer;
    text-decoration: underline;
}